<a href="https://colab.research.google.com/github/arnoldsanroque/Linear-Algebra_2nd-Sem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [ ]:
x = 1
a,b = 0, -1
x

In [ ]:
type(x)

In [ ]:
y = 1.0
type(y)

In [ ]:
x = float(x)
type(x)

In [ ]:
s,t,u = "0", '1', 'one'
type(s)

In [ ]:
s_int = int(s)
s_int

## Operations

### Arithmetic

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a + b
S

In [ ]:
### Subtraction
D = b - d
D

In [ ]:
### Multiplication
P = a*d
P

In [ ]:
### Division
Q = c / a
Q

In [ ]:
### Floor Division
Fq = a//b
Fq

In [ ]:
### Exponentiation
E = a**b
E

In [ ]:
### Modulo
mod = d%a
mod

### Assignment Operations

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
G += a
G

In [ ]:
H -= d
H

In [ ]:
J *= 2
J

In [ ]:
K **= 2
K

### Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

In [ ]:
## Non-equality
res_2 != true_val

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t1

### Logical

In [ ]:
res_1 == true_val

In [ ]:
res_1 is true_val

In [ ]:
res_1 is not true_val

In [ ]:
p, q = True, False
conj = p and q
conj

In [ ]:
p, q = True, False
disj = p or q
disj

In [ ]:
p, q = True, False
nand = not(p and q)
nand

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

### I/O

In [ ]:
print("Hello World")

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, "Current run count is: ", cnt)
cnt += 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

In [ ]:
sem_grade = 82.243564657461234
name = ""
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grade are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

In [ ]:
x = input("Enter a Number: ")
x

In [ ]:
name = input("Kimi no na wa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

## Looping Statements

### While

In [ ]:
## while loops
i, j = 0, 10
while (i<=j) :
  print(f"{i}\t|\t{j}")
  i+=1

### For

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i = 0
for i in range(10):
  print(i)

In [ ]:
playlist = []
print('Now Playing: \n')
for song in playlist:
  print(song)

## Flow Control

### Conditional Statements

In [ ]:
numeral1, numeral2, = 12, 12
if(numeral1 == numeral2):
  print("Yey")
elif(numeral1 > numeral2):
  print("Hoho")
else:
  print("Aww")
print("Hip hip")

### Functions

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);    
# }

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
  print("Successfully deleted all users")

In [ ]:
userid = "Eugene"
delete_user("Eugene")
delete_all_users()

In [ ]:
def add(addend1, addend2) :
  return addend1 + addend2
  
def power_of_base2(exponent) :
  return 2**exponent

In [ ]:
#addend1, addend2 = 24, 25
#add(addend1, addend2)

exponent = 8
power_of_base2(exponent)

# Activity 1
### Semestral Grade Calculator

In [ ]:
print("Good day! Please input the necessary information below.")
print()
name = input("Full Name: ")
course = input("Course: ")

print()

p = float(input("\tEnter Prelim Grade: "))
m = float(input("\tEnter Midterm Grade: "))
f = float(input("\tEnter Final Grade: "))

sem_grade = (p*0.30 + m*0.30 + f*0.40) 

if (float(sem_grade) == 70.00):
  print("\nHello, {} of {}! Your Semestral Grade is {:.2f}% \U0001F606 That was close!".format(name, course, sem_grade))
elif (float(sem_grade) > 70.00):
  print("\nHello, {} of {}! Your Semestral Grade is {:.2f}% \U0001F600 Keep it up and good work!".format(name, course, sem_grade))
else :
  print("\nHello, {} of {}! Your Semestral Grade is {:.2f}% \U0001F62d Study more and try harder!".format(name, course, sem_grade))